* {
    margin: 0;
    padding: 0;
}
.hero nav {
    display: flex;
    gap: 70rem;
    padding: 20px 30px 20px 30px;
}
.hero nav .nav-link {
    display: flex;
    gap: 3rem;
    font-size: 16px;
    padding-top: 15px;
}
.hero nav .nav-link a {
    text-decoration: none;
    color: hsl(243, 87%, 12%);
}