* {
    margin: 0;
    padding: 0;
}
.hero nav {
    display: flex;
    gap: 70rem;
   margin-left: 150px;
   padding-top: 70px;
}
.hero nav .nav-link {
    display: flex;
    gap: 3rem;
    font-size: 30px;
    padding-top: 15px;
}
.hero nav .nav-link a {
    text-decoration: none;
    color: hsl(243, 87%, 12%);
}
.hero-body {
    display: flex;
    gap: 3.5rem;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 70px;
}
.hero-body .image img {
    height: 600px;
    margin-right: 35px;
}
.hero-body .text {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-body p.head {
    font-size: 55px;
    font-weight: 700;
}
.hero-body .text p.sub {
    line-height: 25px;
    margin-right: 170px;
    font-size: 20px;
}
.hero-body .message input {
    width: 350px;
    height: 30px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0.1px solid rgba(0, 0, 0, 0.521);
    color: hsla(0, 0%, 75%, 0.829);
}
.message {
    display: flex;
    gap: 1rem;
}
.hero-body .message a {
    display: inline-block;
    text-align: center;
    padding: 15px 55px;
    background-color: hsl(224, 93%, 58%);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}