* {
    margin: 0;
    padding: 0;
}
.hero nav {
    display: flex;
    gap: 80rem;
}
.hero nav .nav-link {
    display: flex;
    gap: 3rem;
    font-size: 16px;
    padding-top: 10px;
}
.hero nav .nav-link a {
    text-decoration: none;
}